// Color variables
$primary: #ff9800;
$primary-light: #ffc947;
$primary-dark: #c66900;

// Base white, gray, and black
$base-000: #fafafa;
$base-100: #f5f5f5;
$base-200: #eeeeee;
$base-300: #e0e0e0;
$base-400: #bebebe;
$base-500: #9f9f9f;
$base-600: #7676768c;
$base-700: #6262626c;
$base-800: #4242426c;
$base-900: #212121;

// Primary font-stack
$font-stack-primary: 'Archivo', Arial, Helvetica, sans-serif;
$font-stack-secondary: 'Roboto', Arial, Helvetica, sans-serif;

// Import Bootstrap
@import '~bootstrap/scss/bootstrap';