// Import custom theme
@import './theme.scss';

// Import Bootstrap so that theme variables will overwrite defaults
@import '~bootstrap/scss/bootstrap';

.app-container {
  background: $base-900;
  color: $base-000;
  display: flex;
  flex-direction: column;
  font-family: $font-stack-primary;
  min-height: 100vh;

  main {
    flex: auto;
  }

  hr {
    border-top: 1px solid $base-400;
  }

  .heading,
  .small-heading {
    color: $primary;
    font-family: $font-stack-secondary;
  }

  .emphasis {
    color: $base-000;
    font-weight: 600;
  }

  .Toastify__toast--success {
    background: linear-gradient(
      270deg,
      rgba(102, 187, 106, 1) 0%,
      rgba(81, 150, 87, 1) 100%
    );
  }

  .Toastify__progress-bar--default {
    background: linear-gradient(90deg, $primary-light, $primary, $primary-dark);
  }
}
