// Import base styles
@import '../../theme.scss';

.info-item {
  margin: 20px 0;

  .amenity-badge {
    font-family: $font-stack-primary;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    background-color: $base-700;

    .amenity-icon {
      font-size: 2rem;
    }

    .amenity-label {
      font-size: 1rem;
    }
  }

  .map {
    width: 100%;
    height: 225px;
  }
}

.info-text {
  &-main {
    font-size: 1.5rem;
  }

  &-sub {
    font-size: 1rem;
  }
}

.info-link,
.info-link:visited {
  color: $base-300;

  &:hover,
  &:active {
    color: $base-500;
  }
}

.list-group-item {
  border-radius: .25rem;
  margin: 10px 0;

  &:nth-child(odd) {
    background-color: $base-700;
  }

  &:nth-child(even) {
    background-color: $base-600;
  }

  .list-label {
    font-size: 1rem;
  }

  .list-item {
    font-size: 1.5rem;

    @media screen and (max-width: $small) {
       font-size: 1.3rem;
    }
  
    @media screen and (min-width: $small) and (max-width: $medium) {
      font-size: 1.75rem;
    } 
  }
}

.modal {
  &-header {
    font-family: $font-stack-secondary;
  }

  &-body {
    font-family: $font-stack-primary;
  }
}