// Import base styles
@import '../../theme.scss';

.dashboard-heading {
  margin-top: 20px;
}

.list-group-item {
  border-radius: .25rem;
  margin: 10px 0;

  &:nth-child(odd) {
    background-color: $base-700;
  }

  &:nth-child(even) {
    background-color: $base-600;
  }

  .list-label {
    font-size: 1rem;
  }

  .list-item {
    font-size: 2rem;

    @media screen and (max-width: $small) {
       font-size: 1.3rem;
    }
  
    @media screen and (min-width: $small) and (max-width: $medium) {
      font-size: 1.75rem;
    } 
  }
}

.modal {
  &-header {
    font-family: $font-stack-secondary;
  }

  &-body {
    font-family: $font-stack-primary;
  }
}