// Import base styles
@import '../../theme.scss';

.dashboard-nav {

  &-link {
    display: inline-block;
    font-size: 1rem;
  }

  #dropdown-basic {
    background-color: $base-800 !important;
    border: 1px solid $base-300;
    color: $base-000;
  }

  .nav-icon {
    color: $base-400;
    cursor: pointer;
    display: inline-block;
    font-size: 1.75rem;
  
    &:hover {
      color: $base-500;
    }
  }
}
