// Import base styles
@import '../../base';

.card-item {
  margin: 20px 0;

  .badge {
    font-family: $font-stack-primary;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: left;

    .amenity-badge {
      background-color: $base-700;
    }
  }
}