// Import base styles
@import '../../theme.scss';

.card-item {
  margin: 20px 0;

  .amenity-badge {
    font-family: $font-stack-primary;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    background-color: $base-700;

    .amenity-icon {
      font-size: 2rem;
    }

    .amenity-label {
      font-size: 1rem;
    }
  }
}